@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@600&family=Playfair+Display:wght@700&display=swap');

body{
    background-color: #071952;
}


#header{
    background-color: #0B666A;
    padding: 5px;
    text-align: center;
    margin:50px;
    color:#F5EDCE;
    font-family: 'Playfair Display', serif;
    font-size: 30px;
}

#content{
    display: flex;
    flex-direction: row;
}

#selector1{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #FFE5CA;

} 

#selector2{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #FFE5CA;
}

div{
    background-color:  #0B666A;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center; 
     margin: 20px; 
    
}

#result{
    margin-top: 20px;
    text-align: center;
    flex-direction: column;
    color: #FFE5CA;
}

#inputCurrType, #outputCurrType{
    width: 200px;
    height: 25px;
}

#inputAmt, #outputAmt{
    width: 110px;
    height: 25px;
}

#inputDiv{
    text-align: center;
   flex-direction: column;
   color: #FFE5CA;
}

button{
    margin: 50px;
    padding: 10px 20px;
    font-size: 25px;
    font-family: 'Aleo', serif;
    border-radius: 50px;
    transition: all;
    transition-duration: 500ms;
}

button:hover{
    background-color: #35A29F;
    color: #FFE5CA;
    border-radius: 10px
}

@media screen and (max-width: 600px){

    #header{
        text-align: center;
        margin:5px;
        color:#F5EDCE;
        font-family: 'Playfair Display', serif;
        font-size: 10px;
    }
    
    #content,  #selector1, #selector2{
        font-size: 7px;

    }

    div{
        margin-left: 10px;
        margin-right: 10px;
         margin: 10px; 
        
    }

    #inputCurrType, #outputCurrType{
        width: 100px;
        height: 15px;
    }

    #inputAmt, #outputAmt{
        width: 50px;
        height: 10px;
    }
    
    button{
        margin: 10px;
        padding: 1px 2px;
        font-size: 10px;
        font-family: 'Aleo', serif;
        border-radius: 10px;
        transition: all;
        transition-duration: 500ms;
    }



}